@model Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Va a eliminar el contrato ¿Esta seguro?</h3>
<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdInquilino)
        </dt>
        <dd class="col-sm-10">
            @(Model.Inquilino.Nombre + " " + Model.Inquilino.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdInmueble)
        </dt>
        <dd class="col-sm-10">
            @(Model.Inmueble.Tipo + " - " + Model.Inmueble.Direccion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
